# server:
#   port: 8080
# 
# spring:
#   application:
#     name: api-gateway
#   cloud:
#     gateway:
#       server:
#         webflux:
#           routes:
#             - id: auth-service
#               uri: http://localhost:8081
#               predicates:
#                 - Path=/auth/**
# 
#             - id: task-service
#               uri: http://localhost:8090
#               predicates:
#                 - Path=/tasks/**

server:
  port: ${PORT:8080}

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              uri: https://auth-service-6dyo.onrender.com
              predicates:
                - Path=/auth/**

            - id: task-service
              uri: https://task-service-fy47.onrender.com
              predicates:
                - Path=/tasks/**